<ion-view view-title="Categories">
	<ion-content>
		<a class="item item-icon-left item-icon-right" ng-click="goToCat('Food')">
		    <i class="icon ion-spoon"></i>
		    Food
		    <i class="icon ion-ios-arrow-right"></i>
		</a>
		<a class="item item-icon-left item-icon-right" ng-click="goToCat('Electronic Bills')">
		    <i class="icon ion-power"></i>
		    Electronic Bills
		    <i class="icon ion-ios-arrow-right"></i>
		</a>
		<a class="item item-icon-left item-icon-right" ng-click="goToCat('Family')">
		    <i class="icon ion-heart"></i>
		    Family
		    <i class="icon ion-ios-arrow-right"></i>
		</a>
		<a class="item item-icon-left item-icon-right" ng-click="goToCat('Automobile')">
		    <i class="icon ion-model-s"></i>
		    Automobile
		    <i class="icon ion-ios-arrow-right"></i>
		</a>
		<a class="item item-icon-left item-icon-right" ng-click="goToCat('Entertainment')">
		    <i class="icon ion-ios-monitor"></i>
		    Entertainment
		    <i class="icon ion-ios-arrow-right"></i>
		</a>
		<a class="item item-icon-left item-icon-right" ng-click="goToCat('Health Care')">
		    <i class="icon ion-medkit"></i>
		    Health Care
		    <i class="icon ion-ios-arrow-right"></i>
		</a>
		<a class="item item-icon-left item-icon-right" ng-click="goToCat('Money Transfer')">
		    <i class="icon ion-arrow-graph-up-right"></i>
		    Money Transfer
		    <i class="icon ion-ios-arrow-right"></i>
		</a>
		<a class="item item-icon-left item-icon-right" ng-click="goToCat('Other')">
		    <i class="icon ion-compose"></i>
		    Other
		    <i class="icon ion-ios-arrow-right"></i>
		</a>
	</ion-content>
</ion-view>