<ion-view view-title="Back Up and Sync">
	<ion-content has-subheader="false">
	<div style='margin-top:25%'>	
		<div style='width:90%;margin-left: 5%;'class="mui-textfield mui-textfield--float-label">
		    <input  type="text"ng-model='a.userEmail'>
		    <label>Enter Your Email</label>
		 </div>
		 
		 <div>
		 
		 <button style='width:90%;margin-left: 5%;margin-right: 5%'class="mui-btn mui-btn--raised mui-btn--small mui-btn--primary"ng-click='retreiveFromCloud()'>Sync</button>
  		
  		 <button style='width:90%;margin-left: 5%;margin-right: 5%'class="mui-btn mui-btn--raised mui-btn--small mui-btn--primary"ng-click='addDataToCloud()'>Back Up</button>
  		</div>
  
</div>	
  		
	</ion-content>
</ion-view>