<ion-view view-title="Post Expense">
	<ion-content ng-controller="postExpenseCtrl">
		<br>
		 <div style='width:90%;margin-left: 5%;'class="mui-textfield mui-textfield--float-label">
		    <input  type="text"ng-model='expense.title'>
		    <label>Title</label>
		 </div>
		 <div style='width:90%;margin-left: 5%;'class="mui-textfield mui-textfield--float-label">
		        <input  type='number'ng-model='expense.debitAmount' />
		        <label>Debit Amount</label>
   		</div>
		 <div style='width:100%;margin-top:-8%;' class="mui-dropdown">
			  <button  style='width:90%;margin-left: 5%' class="mui-btn mui-btn--danger" data-mui-toggle="dropdown">
			    {{expense.catText}}
			    <span class="mui-caret"></span>
			  </button>
			  <ul style='width:80%;margin-left:10%;margin-right: 10%; 'class="mui-dropdown__menu ">
			    <li><a ng-click="chooseCat('Food')">Food</a></li>
			    <li><a ng-click="chooseCat('Electronic Bills')">Electronic Bills</a></li>
			    <li><a ng-click="chooseCat('Family')">Family</a></li>
			    <li><a ng-click="chooseCat('Automobile')">Automobile</a></li>
			    <li><a ng-click="chooseCat('Entertainment')">Entertainment</a></li>
			    <li><a ng-click="chooseCat('Health Care')">Health Care</a></li>
			    <li><a ng-click="chooseCat('Money Transfer')">Money Transfer</a></li>
			    <li><a ng-click="chooseCat('Other')">Other</a></li>
			  </ul>
		 </div>
		

		 <ionic-datepicker input-obj="datepickerObject">
		  <button style='width:90%;margin-left: 5%;' class="mui-btn mui-btn--raised mui-btn--small mui-btn--danger"> <time>{{expense.date |amDateFormat: ' MMMM Do YYYY' }}</time></button>
		</ionic-datepicker>
        
  		<button style='width:90%;margin-left: 5%;'class="mui-btn mui-btn--raised mui-btn--large mui-btn--primary"ng-click='addExpenseToDB()'>Submit</button>
  		
  		</div>
	
</ion-view>